
* {
  box-sizing: border-box;
}

/****** Base Styles ******/

body {
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  background-color: lightgrey;
}

#wrapper {
  min-width: 300px;
  max-width: 768px;
  margin: 0 auto;
  background-color: #fff;
}

.btn {
  color: #fff;
  background-color: #929497;
  border-radius: 20px;
  border-style: none;
  padding: 5px 0;
  display: block;
  margin: 3% 5%;
  font-size: 1.1em;
  font-weight: 300;
  width: 90%;
}

.btn:hover {
  background-color: #EB008B;
  cursor: pointer;
}

.btn:disabled {
  background-color: #D0D2D4;
}

/*** Header ***/

header {
  background-color: #404041;
  text-align: center;
}

h1 {
  margin: 0;
  padding: 15px 0;
  font-size: 2.5em;
}

.title-bold {
  color: #ED458B;
}

.title-thin {
  color: #E6E7E8;
  font-weight: 300;
}

/*** Main Content ***/

.main-content {
  text-align: center;
  max-width: 400px;
  margin: 2em auto;
  padding-bottom: 2.5em;
}

input {
  width: 90%;
  padding: 8px 0;
  margin-bottom: 5px;
  border: 1px solid #D0D2D4;
  border-radius: 3px;
}

input[placeholder] {
  font-size: 1em;
}

.last-guess{
  margin-top: 2em;
  margin-bottom: 0;
}
.result {
  margin-top: 0;
  margin-bottom: 2em;
}

.show-guess {
  font-size: 8em;
  font-weight: 300;
  color: #ED458B;
  margin: -10px;
}


@media screen and (min-width: 550px) {
  #guess-btn,
  #clear-btn {
    display: inline-block;
    width: 42%;
  }

  #guess-btn {
    margin: 3% 3% 3% 0;
  }

  #clear-btn {
    margin: 3% 0 3% 3%;
  }
}
